@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;600&display=swap');


/**-------------- Config --------------*/
:root {
  --main-black: #000000;
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  font-size: 16px; /*1rem : 10px*/  
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}


/**-------------- Header --------------*/
.header {
  background-color: #d2ebff;
  background-image: url("../images/bg-hero-desktop.svg");
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9rem;
}

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  width: 25rem;
  height: 4rem;
}

.left-info {
  width: 38vw;
}

.title {
  color: var(--very-dark-cyan);
  font-weight: bold;
  font-size: 5rem;
  margin-bottom: 3rem;
}

.header-text{
  line-height: 3rem;
  text-align: left;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.rigth-info {
  width: fit-content;
}

.mockup {
  width: 85rem;
}


/**-------------- Main --------------*/
.main {
  margin: 10rem 0rem;
}

.section-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5rem 12rem 5rem 17rem;
  margin-bottom: 8rem;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 20px -2px #dddddd;
}

.section-item:nth-child(even) {
  flex-direction: row-reverse;
}

.section-item img {
  width: 50rem;
  height: 40rem;
}

.info-item {
  width: 50rem;
}

.title-item {
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 5rem;
  color: var(--very-dark-cyan);
}

.text-item {
  font-size: 2rem;
  line-height: 3rem;
  color: var(--grayish-blue);
}



/**-------------- Footer --------------*/
#footer {
  display: flex;
  flex-direction: column;
  color: #efefef;
  background-color: #091e21;
  padding-top: 10rem;
}

.logo-white {
  width: 15rem;
  height: 4rem;
}

.section-footer {
  display: flex;
}

.item-t { 
  margin-bottom: 3rem;
  line-height: 3rem;
  font-size: 1.6rem;
}

.item-1 {
  width: 25vw;
  /* background-color: dodgerblue; */
}

.item-1 > .item-t {
  display: flex;
}

.item-1 > .item-t > img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.item-1, .item-2, .item-3, .item-4 {
  display: flex;
  justify-content: space-around;
  margin-right: 15rem;
}

.item-2 > .item-t:hover {
  border-bottom: .2rem solid white;
  cursor: pointer;
}
.top-footer {
  margin-bottom: 6rem;
}

.medium-footer {
  display: flex;
  justify-content: start;
}

.botom-footer {
  display: flex;
  justify-content: end;
  margin-top: 3rem;
}


/**-------------- Helpers --------------*/
.btn {
  border: none;
  border-radius: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.5rem 5rem;
  box-shadow: 0px 0px 15px -5px #929292;
  cursor: pointer;
}

.btn-white {
  background-color: #ffffff;
  color: var(--main-black);
}

.btn-pink {
  background-color: var(--pink);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

.btn-pink:hover {
  background-color: #ff84d2;
}

.text-alt {
  text-transform: capitalize;
}

.text-sup {
  text-transform: uppercase;
}

.container {
  padding: 4rem 10rem;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}
